/* [next]/internal/font/google/V8mDoQDjQSkFtoMM3T6r8E7mPbF4C_k3HqU-s.p.woff2 (static in css) */
/* embedded static asset "/_next/static/media/V8mDoQDjQSkFtoMM3T6r8E7mPbF4C_k3HqU-s.p.db698206.woff2" */